[submodule "externals/cppzmq"]
	path = externals/cppzmq
	url = https://github.com/zeromq/cppzmq.git
[submodule "externals/libzmq"]
	path = externals/libzmq
	url = https://github.com/zeromq/libzmq.git
